 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Us</h2>
                    {% include star.html type="primary" %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Qui la giorgi ci metterà tante cose carine</p>
                </div>
                <div class="col-lg-4">
                    <p>E anche qui ! Ci puoi scriver un po' quello che vuoi e metter un po' quello che ti pare</p>
                </div>
            </div>
        </div>
    </section>
