 <!-- About Section -->
    <section class="success" id="howto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-xs-center section-header">
                    <h2>Come funziona</h2>
                    {% include star.html type="light" %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p> I regali sono suddivisi in due categorie: <b>"Prioritari"</b> e <b>"Secondari"</b>. I regali <i>prioritari</i> sono quelli di cui avremmo bisogno alla nascita del bambino, mentre quelli <i>secondari</i> li acquisteremo a trasloco ultimato. Per facilitare le donazioni da oltreoceano, abbiamo pensato di fornire due modalità con cui potrete effettuare i regali ( dettagliate in seguito): il regalo con bonifico è la modalità consigliata, principalmente perchè non ci sono spese aggiuntive legate ai pagamenti intercontinentali. In particolare, se avete piacere a regalare un dono "Secondario" vi consigliamo il pagamento con bonifico, cosicchè noi potremo acquistarlo in seguito.</p>
                    <p> In entrambi i casi, dopo aver concluso la transizione vi chiediamo di inviarci una mail a <b>giorgiamancioppi@gmail.com</b> per segnalarci il dono che avete acquistato o il dono che vorreste che noi comprassimo con il versamento tramite bonifico (e opzionalmente un messaggino da postare nella sezione "Purchased/Reserved Gifts"), così da permetterci di eliminarlo dalla lista, ma soprattutto per darci la possibilità di rigraziarvi oltre oceano.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Regalo con bonifico</h3>
                    <p> Se non siete esperti di acquisti on line transoceanici è possibile versare la cifra del dono con bonifico al CC non-transoceanico del padre di famiglia: <b>IBAN IT33Q0503432010000000023287 intestato a Alessandro Roncone</b>. </p>
                </div>
                <div class="col-md-6">
                    <h3>Regalo on-line</h3>
                    <p> Tutti gli articoli che abbiamo scelto sono acquistabili online (beata modernità), ed hanno un link che vi porta alla pagina d'acquisto. L'indirizzo a cui andranno spediti è: <b>Alessandro Roncone 13 Clark street New Haven Connecticut 06511</b>.</p>
                </div>
            </div>
        </div>
    </section>
