 <!-- About Section -->
    <section class="success" id="howto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-xs-center">
                    <h2>Come funziona</h2>
                    {% include star.html type="light" %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p> I regali saranno suddivisi in due categorie: <b>"Prioritari"</b> e <b>"Secondari"</b>. I regali <i>prioritari</i> sono quelli di cui avremmo bisogno alla nascita del bambino, mentre quelli <i>secondari</i> li acquisteremo a trasloco ultimato. Se avete piacere a regalare un dono <i>"secondario"</i> vi consigliamo il pagamento con bonifico, specificando nella mail il regalo che volete farci, cosicche' noi potremo acquistarlo in seguito.</p>
                </div>
                <div class="col-lg-12">
                    <p> In entrambi i casi, dopo aver concluso la transizione vi chiediamo di inviarci una mail a <b>giorgiamancioppi@gmail.com</b> per segnalarci il dono che avete acquistato o il dono che vorreste che noi comprassimo con i soldi versati con il bonifico, cosi' da permetterci di eliminarlo dalla lista, ma soprattutto per darci la possibilita' di rigraziarvi oltre oceano.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Regalo on-line</h3>
                    <p> Gli articoli che abbiamo scelto hanno un link che vi porta alla pagina d'acquisto, l'indirizzo a cui andranno spediti e': <b>Alessandro Roncone 13 Clark street New Haven Connecticut 06511</b>.</p>
                </div>
                <div class="col-md-6">
                    <h3>Regalo con bonifico</h3>
                    <p> Se non siete esperti di acquisti on line transoceanici e' possibile versare la cifra del dono con bonifico al CC non-transoceanico del padre di famiglia: <b>IBAN IT33Q0503432010000000023287 intestato a Alessandro Roncone</b>. </p>
                </div>
            </div>
        </div>
    </section>
