 <!-- About Section -->
    <section class="success" id="howto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Come funziona</h2>
                    {% include star.html type="light" %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p> I regali con la stellina a fianco sono quelli che desidereremmo ricevere entro novembre, quelli senza stellina li acquisteremo a trasloco ultimato (se avete piacere a regalare uno di questi senza stellina, vi consigliamo il pagamento con bonifico).</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p> Regalo on-line: gli articoli che abbiamo scelto hanno un link che vi porta alla pagina d'acquisto, l'inidrizzo a cui andranno spediti e': Alessandro Roncone 13 Clark street New Haven Connecticut {codice postale} </p>
                </div>
                <div class="col-lg-6">
                    <p> Regalo con Bonifico: se non siete esperti di acquisti on line e' possibile versare la cifra del dono con bonifico al CC {} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p> In entrambi i casi, dopo aver concluso la transizione vi chiediamo di inviarci una mail a giorgiamancioppi@gmail.com per segnalarci il dono che avete acquistato o il dono che vorreste che noi comprassimo con i soldi versati con il bonifico, cosi' da permetterci di eliminarlo dalla lista, ma soprattutto per darci la possibilita' di rigraziarvi oltre oceano.</p>
                </div>
            </div>
        </div>
    </section>
