
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-xs-center">
                    <h2>Available gifts</h2>
                    {% include star.html type="primary" %}
                </div>
            </div>

            {% assign items = site.data.list | sort: "price" %}

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a  class="nav-link active" data-toggle="tab" href="#priority">
                        <i  class="sacrifice star {{ include.type }} fa fa-star" aria-hidden="true"></i>
                        <i  class="supersacrifice star {{ include.type }} fa fa-star" aria-hidden="true"></i>
                        Prioritari
                        <i  class="supersacrifice star {{ include.type }} fa fa-star" aria-hidden="true"></i>
                        <i  class="sacrifice star {{ include.type }} fa fa-star" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" data-toggle="tab" href="#non-priority">
                        <i  class="sacrifice star {{ include.type }} fa fa-star" aria-hidden="true"></i>
                        <i  class="supersacrifice star {{ include.type }} fa fa-star" aria-hidden="true"></i>
                        Secondari
                        <i  class="supersacrifice star {{ include.type }} fa fa-star" aria-hidden="true"></i>
                        <i  class="sacrifice star {{ include.type }} fa fa-star" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="priority" class="tab-pane fade in active">
                    <div class="card-columns">
                    {% for object in items reversed %}
                        {% if object.taken %}
                        {% elsif object.important %}
                        <div class="card">
                            <a href="{{ object.link }}" target="_blank">
                                <div class="card-block">
                                    <h4 class="card-title">{{ object.name }}</h4>
                                </div>
                                {% if object.img %}<img src="{{ object.img }}" alt="Card image"/>{% endif %}
                                <div class="card-block">
                                    <p class="card-text">{{ object.description }}</p>
                                    <h4>$ {{ object.price }}</h4>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <div id="non-priority" class="tab-pane fade">
                    <div class="card-columns">
                    {% for object in items reversed %}
                        {% if object.taken %}
                        {% elsif object.important %}
                        {% else %}
                        <div class="card">
                            <a href="{{ object.link }}" target="_blank">
                                <div class="card-block">
                                    <h4 class="card-title">{{ object.name }}</h4>
                                </div>
                                {% if object.img %}<img src="{{ object.img }}" alt="Card image"/>{% endif %}
                                <div class="card-block">
                                    <p class="card-text">{{ object.description }}</p>
                                    <h4>$ {{ object.price }}</h4>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="success" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-xs-center">
                    <h2 class="section-heading">Purchased / Reserved Gifts</h2>
                    {% include star.html type="light" %}
                </div>
            </div>
            <div class="row">

                    <div class="card-columns">
                    {% for object in items reversed %}
                        {% if object.taken %}
                        <div class="card">
                            <a href="{{ object.link }}" target="_blank">
                                <div class="card-block">
                                    <h4 class="card-title">{{ object.name }}</h4>
                                </div>
                                {% if object.img %}<img src="{{ object.img }}" alt="Card image"/>{% endif %}
                                <div class="card-block">
                                    <p class="card-text">Donato da: <i>{{ object.purchaser }}</i></p>
                                    {% if object.message %}<p class="card-text">Messaggio: <i>{{ object.message }}</i></p>{% endif %}
                                </div>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
            </div>
