                        <hr class="star {{ include.type }}">
                        <i  class="star {{ include.type }} fa fa-star" aria-hidden="true"></i>
                        <i  class="sacrifice star {{ include.type }} fa fa-star" aria-hidden="true"></i>
                        <i  class="supersacrifice star {{ include.type }} fa fa-star" aria-hidden="true"></i>
                        <i  class="sacrifice star {{ include.type }} fa fa-star .hidden-xs" aria-hidden="true"></i>
                        <i  class="star {{ include.type }} fa fa-star" aria-hidden="true"></i>
                        <hr class="star {{ include.type }}">
